.container {
  width: 270px; 
  height:125px;
  margin: 0.5% 10% 1% auto;
  display: flex;
  background: rgba(255, 255, 255, 0.445);
  border-radius: 10px;
  border-top: 6px solid rgba(0, 0, 0, 0.651);
  border-left: 6px solid rgba(255, 255, 255, 0.658);
  box-shadow: 0 0px 10px rgb(0, 0, 0);
}


.container:hover {
  background: rgba(255, 255, 255, 0.645);
  border-radius: 15px;
  border-top: 8px solid rgba(0, 0, 0, 0.651);
  border-left: 8px solid rgba(255, 255, 255, 0.658);
  box-shadow: 0 0px 12px rgb(0, 0, 0);
}


.Ima{
  width: 40%;
  height: 80%;
  margin: 6% 2% 1% 1%;
}

.Img {  
  width: 100%;
  
  border-radius: 10px;
}


.Lec{
  margin: 1% 2% 2%;
  width: 50%;
 background-color: rgba(244, 246, 244, 0.664);
 display: block;
 justify-content: center;
 align-items: center;
  align-items:flex-start;
  font-size: 0.7em;
 
}
h2{
   color: black;
}
.containerLec{
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3em;
  
}

.CardButton {
  margin: 1% auto ;
  border-color: rgba(59, 212, 54, 0.644);
  padding: auto;
  width: 70px;
  height: 25px;
  background: rgb(18, 37, 211);
  color: white;
  font-style: italic;
  font-size: 1.2em;
  cursor: pointer;
}

@media (max-width: 480px){
.container {
  width: 180px; 
  height:100px;
  margin: 1% 1% 1% 4%;
  border-radius: 10px;
  border-top: 3px solid rgba(0, 0, 0, 0.651);
  border-left: 3px solid rgba(255, 255, 255, 0.658);
  box-shadow: 0 0px 5px rgb(0, 0, 0);
}


.Lec{
  margin: 1% 2% 2%;
  width: 60%;
 background-color: rgba(0, 0, 0, 0.251);
 display: block;
 justify-content: center;
 align-items: center;
  align-items:flex-start;
  font-size: 0.7em;
  
 
}

}