*{
    margin: 0;
    padding: 0;
}


.container{
    width: 85%;
    height:3vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(6, 98, 246, 0.335);
    border-radius: 5px;   
    border: 2px solid rgb(51, 168, 5);
    box-shadow: 0px 0px 5px rgba(123, 204, 18, 0.966);
    gap: 6%;
   
}

.Buscar{
     width: 200px;
    padding: 3px;
    margin: 0px 5px 5px 5px;
    border-radius: 1px;   
    border: 2px solid rgb(173, 0, 0);
    box-shadow: 0px 0px 5px rgba(165, 42, 42, 0.514);
     font-size: 1em;
}

.Buscar1{
    padding: 4px 8px 4px 8px;
    background-color: rgb(42, 84, 199);   
    border: 1px solid rgb(34, 139, 164);
    border-radius: 5px;    
    color: white;
    transition: all .3s;
    cursor: pointer;
}

.Select{
      width: 140px;
    padding: 3px;
    margin: 0px 5px 5px 5px;
    border-radius: 1px;   
    border: 2px solid rgb(173, 0, 0);
    box-shadow: 0px 0px 5px rgba(165, 42, 42, 0.514);
    font-size: 1em;
}